*.sw*
.gitignore.s*
/output/ny/nextstrain_and_github/recency.json
/output/lineage/nextstrain_no_github/nt_muts.json
/code/builttree.uniqueseq.phy
/data/b.1.526/b1526.sequences.fasta
/data/hcov_north-america/hcov_north-america.fasta
/data/hcov_north-america/hcov_north-america.json
/data/mafft_iqtree_out/aligned_mafft_ncov.fasta.uniqueseq.phy
/data/mafft_iqtree_out/aligned_mafft_ncov.fasta
/data/nyc/gisaid_nyc_sequences.fasta
/data/ny_state/1635390216395.sequences.fasta
/data/preselected/filtered_gisaid.fasta.xz
/data/preselected/metadata.tsv.gz
/.git/objects/b8/4d2832ed34aed40405848ce0a1e93b9da4f59e
/scripts/ncov-ny/results/combined_metadata.tsv
/scripts/ncov-ny/results/precomputed-filtered_gisaid.fasta
/scripts/ncov-ny/results/ny_6m/recency.json
/scripts/ncov/results/b_lineage/nt_muts.json
/scripts/ncov/results/new_york/masked_masked.fasta
/scripts/ncov/results/new_york/ncov_with_hcov19_prefix.json
/scripts/ncov/results/new_york/ncov_with_accessions.json
/scripts/ncov/results/new_york/ncov_with_branch_labels.json
/scripts/ncov/results/new_york/nt_muts.json
/scripts/ncov/results/new_york/aligned.fasta
/scripts/ncov/results/new_york/sample-contextual.fasta
/scripts/ncov/results/new_york/masked.fasta
/scripts/ncov/data/hcov_north-america.fasta
/scripts/ncov/data/gisaid_nyc_sequences.fasta
/logs/ny/no_nextstrain_no_github/log_mafft_1824090.log
/output/ny/no_nextstrain_no_github/builttree.mldist
